<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jumpy.Properties" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Jumpy.Properties.Settings>
            <setting name="RandMountJumpSpan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseMountJumpSpan" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="RandWalkJumpSpan" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseWalkJumpSpan" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="UsePlayerRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerRange" serializeAs="String">
                <value>100</value>
            </setting>
        </Jumpy.Properties.Settings>
    </userSettings>
</configuration>